:root {
  --crimson_red: rgb(201, 38, 74);
  --bar_width: 35px;
  --bar_height: 6px;
  --hamburger_gap: 3px;
  --foreground: black;
  --background: white;
  --hamburger_margin: 30px;
  --animation_timing: 200ms ease-in-out;
  --hamburger_height: calc(var(--bar_height) * 3 
  + var(--hamburger_gap) * 2);
  --border_radius: 10px;
}


.grname {
    float: left;
    text-align: justify;
    width: 80%;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
}

section {
    float: center;
    text-align: center;
    width: 80%;
}

.group-photo {
    display: block;
    float: right;
    margin: auto;
}