:root {
  --crimson_red: rgb(201, 38, 74);
}

.background-red{
    display: inline-block;
    background-color:  var(--crimson_red);
    color: lightgray;
    text-align: center;
    position: relative;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 600px;
}

.background-red form {
  text-align: left;
  width: 100%;
}

.align_right {
  display: flex;
  margin: 0 auto;
}

.background-red form label {
  padding-right: 20px;
  padding-left: 20px;
}

.flex-break {
  display: flex;
  flex-basis: 100%; 
  height: 0;
  padding-top: 10px;
}

.background-red footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
}

#submitButton {
  margin-top: 20px;
  border-color: #eee;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
}

.background-red textarea { resize: none;}

.background-red label {
  color: white;
}

.background-red fieldset {
  margin: 1vw;
}


/* Set all Input to the right*/

/* Hardcoded, which does not work on all devices
form input { position: relative;}
#referenceNumber { left: 20%; }
#firstName { left: 36.5%;}
#lastName { left: 36.5%;}
form fieldset { margin-top: 10px;}
#address { left: 40%;}
#suburb { left: 41.125%;}
form select, #statelabel {margin-top: 25px; margin-bottom: 10px;}
form select { position: relative; left: 46.5%;}
#postcode {left: 38.125%;}
#email { left: 43.625%}
#number { left: 30.75%}
.aligncheckboxright { 
  position: relative;
  left: 25%;
  margin-top: 15px;
}
.aligncheckboxright2 {
  position: relative;
  left: 42%;
  margin-bottom: 15px;
}
*/

/*form label {margin-top: 10px;}*/

