/*
filename: jobs_styles.css
author: Kiahok Ung
created: 9/10/2025
last modified: 9/10/2025
description: style sheets for jobs.html
*/

/* Start of the header */

header { /* Makes the header stick to the top of the screen */
  position: sticky;
  top: 0;
  z-index: 100;
}

.container { /* Flex container containing all 3 parts of the header */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.navContainer { /* Flex container containing the 1/3 of the header */
  flex-grow: 1; /* This give space to the first container */
  flex-basis: 0; /* This make sure that the content won't affect the space given above */
}

.navContainer ul { /* This block remove the list style and makes the list to a horizontal*/
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navContainer li { 
  padding-left: 15px;
}

.navContainer li a { 
  text-decoration: none;
  color: black;
}

/* Makes the logo and the text below it */
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.logoContainer p {
  font-size: clamp(8px, 2vw, 16px);
  padding: 0;
  margin: 0;
}

#logo {
  min-width: 50px;
  max-width: 15%;
}

.rightSpacer { /* spacer for the right side of the header*/
  flex-grow: 1; 
}

.navContainer li a.activePage { /* Underline the current page, make sure to add .activePage to the page current anchor link for this to work. */
  text-decoration: underline;
}

/* End of the header */